.footer__copyright {
    padding: 48px 0 0 0;
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
}

@media (min-width: 768px) {
    .footer__copyright {
        line-height: 16px;
        padding: 0;
        margin-left: auto;
    }
}