.cover {
    padding: 85px 0 0 0;
    max-height: 62.5vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media (min-width: 768px) {
    .cover {
        padding: 210px 0 0 0;

    }
}

@media (min-width: 1024px) {
    .cover {
        padding: 290px 0 0 0;
        width: 100%;
    }
}

@media (min-width: 1280px) {
    .cover {
        padding: 340px 0 0 0;
    }
}