.footer {
    width: 90%;
    padding: 97px 0 0 0;
}

@media (min-width: 768px) {
    .footer {
        display: flex;
        max-width: 720px;
        padding: 200px 0 0 0;
        gap: 19px;
        align-self: start;
    }
}

@media (min-width: 1024px) {
    .footer {
        padding: 283px 0 0 0;
        gap: 19px;
        max-width: 928px;
    }
}

@media (min-width: 1280px) {
    .footer {
        padding: 333px 0 0 0;
        max-width: 1280px;
        width: 100%;
    }
}
