.header {
    display: flex;
    min-width: 288px;
    width: 90%;
    margin: 0;
    justify-content: space-between;
    padding: 16px 0 0 0;
}

@media (min-width: 768px) {
    .header {
        padding: 28px 0 0 0;
        width: 94%;
    }
}

@media (min-width: 1024px) {
    .header {
        width: 91%;
    }
}

@media (min-width: 1280px) {
    .header {
        width: 93%;
    }
}
