.intro__title {
    margin: 0;
    font-size: 32px;
    font-weight: 900;
    line-height: 35px;
    padding: 0 53px 0 16px;
}

@media (min-width: 768px) {
    .intro__title {
        font-size: 54px;
        line-height: 58px;
        padding: 0 0 0 24px;
    }
}

@media (min-width: 1024px) {
    .intro__title {
        padding: 0 0 0 48px;
    }
}

@media (min-width: 1280px) {
    .intro__title {
        padding: 0 0 0 148px;
    }
}
